<article>
  <section class="prime-ng-title">
    <span>Title: Laboratorio 3</span>
  </section>

  <section>
    <span>this.data was recived from router and it is workin!!!!!!</span>
  </section>
</article>
