<article class="custom-first-container">
  <span class="custom-first-item"
        routerLinkActive="custom-first-item-active"
        [routerLink]="detail.id" *ngFor="let detail of details">{{detail.detail}}
  </span>
</article>

<router-outlet></router-outlet>
