<h3>Accordion</h3>
<hr>
<div style="margin-bottom: 1em">
  <button type="button"
          pButton
          icon="pi pi-chevron-up"
          (click)="openPrev()"
          style="margin-right:.25em"></button>

  <button type="button"
          pButton
          icon="pi pi-chevron-down"
          (click)="openNext()"></button>
</div>

<p-accordion [activeIndex]="index">
  <p-accordionTab header="Godfather I">The story begins as Don Vito Corleone, the head of a New York Mafia family,
    overseeshis daughter's wedding. Hisbeloved son ichael has just come home from the war, but does not intend to become
    part of his father's business. Through Michael's life the nature of the family business becomes clear. The business
    of the family is just likethehead of the family, kind and benevolent to those who give respect, but given to
    ruthless violence whenever anythingstands against the good of the family.
  </p-accordionTab>
  <p-accordionTab header="Godfather II">Francis Ford Coppola's legendary continuation and sequel to his landmark 1972
    film, The_Godfather parallels theyoung Vito Corleone's rise with his son Michael's spiritual fall, deepening
    The_Godfather's depiction of the darkside of the American dream. In the early 1900s, the child Vito flees his
    Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or
    illegally, for his wife and growing broodin Little Italy, killing the local Black Hand Fanucci after he demands his
    customary cut of the tyro's business.With Fanucci gone, Vito's communal stature grows.
  </p-accordionTab>
  <p-accordionTab header="Godfather III">After a break of more than 15 years, director Francis Ford Coppola and writer
    Mario Puzoreturned to the well forthis third and final story of the fictional Corleone crime family. Two decades
    have passed, and crime kingpinMichael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
    promise that his family wouldone day be completely legitimate.
  </p-accordionTab>
  <p-accordionTab header="Godfather IV">After a break of more than 15 years, director Francis Ford Coppola and writer
    Mario Puzo returned to the well forthis third and final story of the fictional Corleone crime family. Two decades
    have passed, and crime kingpinMichael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
    promise that his family wouldone day be completely legitimate.
  </p-accordionTab>
</p-accordion>

<br/><h3>Card</h3>
<hr>
<p-card header="Advanced Card"
        subheader="Subheader"
        [style]="{width: '360px'}"
        styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="assets/images/card-image.jpg">
  </p-header>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
    numquamdeseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </div>
  <p-footer>
    <button pButton
            type="button"
            label="Save"
            icon="pi pi-check"
            style="margin-right: .25em"></button>

    <button pButton
            type="button"
            label="Cancel"
            icon="pi pi-times"
            class="ui-button-secondary"></button>
  </p-footer>
</p-card>
